html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-image: url(/assets/images/frame/Home.png);
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    margin: 0px auto;
    width: 1200px;
    height: 100px;
}

main {
    padding-top: 40px;
    margin: 0px auto;
    width: 1200px;
}

article, ul.sticky-table {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

article {
    padding: 60px;
    max-width: 860px;
    margin-left: 240px;
}

ul.sticky-table {
    background-image: url(/assets/images/logos/cx-text.svg);
    background-position: 20px 20px;
    background-repeat: no-repeat;
    background-size: auto 40px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;    
    padding: 100px 16px 16px 16px;
    width: 200px;
    position: fixed;
}

ul.sticky-table li {
    margin: 16px 0;
}

ul.sticky-table li a {
    text-decoration: none;
    font-weight: bold;
}

ul.sticky-table li a:hover {
    text-decoration: underline;
}

ul.sticky-table li a:active {
    color: blue;
}

zero-md {
    margin: 0 0 80px 0;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    text-align: center;
    padding-top: 9vw;
    padding-bottom: 20px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE0NDAgMzYwIj4KPGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJnMSIgeDE9IjExMzAuOSIgeTE9Ii00NjEiIHgyPSIxNjYzLjQiIHkyPSI0MjYuNCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZmYjMyNiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZmNzgyYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPgo8cGF0aCBzdHlsZT0iZmlsbDp1cmwoI2cxKSIgZD0ibTEyNzAuNSAzMS44bDAuMy0wLjFjNTYuNC0xMC43IDExMi44LTIxLjQgMTY5LjItMzEuN3YzNjBoLTE0NDB2LTIzNy40cTM1OS44IDM3LjcgNzE5LjUtMS4yYzE4My43LTE5LjkgMzY3LjMtNTQuOCA1NTEtODkuNnoiLz4KPC9zdmc+);
    background-repeat: no-repeat;
    background-size: cover;
}

.links,
.copy {
    line-height: 40px;
    min-height: 40px;
}

.links {
    padding-top: 20px;
}

.links a {
    color: black;
    margin: 0 10px;
}

.copy {
    font-size: 12px;
}